<% if @posts %>
    <% @posts.each do |post|%>
     <div>
        <% if user_signed_in? %>
            <p><%= @users.find_by(id: post.user).name %></p>
        <% else %>
            <p>Anonymous user</p>
        <% end %>
        <p><%= post.title %></p>
        <p><%= post.body %></p>
        <% if user_signed_in? && current_user == @users.find_by(id: post.user)%>
            <%= link_to "Destroy", post_path(id: post.id), method: :delete%>
        <% end %>
     </div>
    <% end %>
<% end %>

<% if user_signed_in? %>
    <%= button_to "Log out", destroy_user_session_path, method: :delete%>
    <%= link_to "create post", new_post_path %>
<% else %>
    <%= link_to "Sign in/sign up", new_user_session_path %>
<% end %>